*{
  margin: 0; 
  font-family: 'Inter', sans-serif;
  
}
body{
    background-color: whitesmoke;
}
main{
    display: flex;
    width: auto;
    height: 100vh; 
}
/* First section on the left */
#left{

    height: 100%;
    width: 15%;
    display: block;
    margin:auto;
    background-color: white;
    text-align: center;
    border: none;
}

/* Div tittle */
#logo{
    display: flex;
    justify-content: center;
    padding-top: 20%;
    padding-bottom: 20%;
}
#Picturelogo{

    
    height: 32px;
    width: 30px;
    border-radius: 10px;
    background-color: #5E81F4;
    color: white;   
    
}


#logoTittle{
    
    font-size: 22px;
    padding-right: 10px;
    padding-top: 5px;
    color: #5E81F4;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.3);
}
/* Boutton Join and Boutton upgrade */
.button1 {
    margin: 10px;
    font-size: 11px;
    height: 30px;
    width: 70%;
    border-radius: 10px;
    background-color: #5E81F4 ;
    color: white;
    border: none;
}
    /* Boutton upgrade */


/* Navigation */
.Leftnav {
    padding-top: 20%;
    padding-bottom: 20%;
}
.Leftnav a{
    /* width: 100%; */
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 10%;
    display: block;
    justify-content: flex-end;
    text-align: center;
    text-decoration: none;
    color: gray;
    
}
/* Effect on all <a>...</a> */
.Leftnav>a:hover{
    color: black;
    border-right: #5E81F4 3px solid;
    transition: 0.3s;
}

/*Upgrade div */
#up{
    position: relative;
    margin: 10%;
    background-color: whitesmoke;
    padding-top:30%; 
    border-radius: 15px;
    height: 15%;
    
}
#up>h4{
    color: gray;
    font-size: 13px;
}
#folder svg{
    width: 50%;
    position: absolute;
    left: 30%;
    top: -40px;
}

/* ---------------------------------------------------------- */

/* Middle section (second) */
#center{
    border: none;
    height: 100vh;
    width: 70%;
    display: block;
    background-color: whitesmoke;
}
/* Seach Bar in the center part */
input{
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 10px;
}
/* Div of seach bar and notifications */
.spaceBtw{
    display: flex;
    justify-content: space-between;
    margin: 5%;

}
.spaceBtw h1{
    font-size: 28px;
}
/* Div of center navigation */
#Centernav{
    display: flex;
    justify-content: space-between;
    border: none;
    width: 250px;
}
#Centernav a{
    
    text-decoration: none;
    color:grey ;
    font-size: 17px;
    border: none;  
    
}

/* Effect on "a" and "line" of the center nav */
#Centernav>a:hover{
    color:#5E81F4; 
    border-bottom: 2px #5E81F4 solid;  
    transition: 0.3s; 
}
/* First picture of courses */
#lesson{
    display: flex;
    justify-content: space-between;
    color: white;
    background: url(./lib/ux.jfif);
    background-size: cover;
    height: 35%;
    width: 90%;
    border-radius: 15px;
    margin: auto;
    position:relative;
    
      
}
#lesson div:hover{
    border: 3px blue solid;
    transition: 1.2s;
}
#go1{
    position:absolute;
    top: 70%;
    left: 4%; 
}
#lesson h1{
    margin:20px;
}
#lesson a{
    font-size: 10px;
}




/* Second picture of courses */
#lessons{
    padding-top: 3%;
    display: flex;
    justify-content: space-between;
    /* margin: auto; */
    
}
#lessons h1,small{
    margin: 20px;
}
#lessons a{
    font-size: 10px;
}

.littleLessons1{
    color: white;
    display: flex;
    justify-content: space-between;
    background: url(./lib/photo.jfif);
    background-size: cover;
    height: 200px;
    width: 35%;
    border-radius: 15px;
    margin: auto;
    position: relative;
    
}
#go2{
    position:absolute;
    top:70% ;
    left:4% ; 
}
.littleLessons2{
    color: white;
    display: flex;
    justify-content: space-between;
    background: url(./lib/photo.jfif);
    background-size: cover;
    height: 200px;
    width: 35%;
    border-radius: 15px;
    margin: auto;
    position: relative;
}
#go3{
    position:absolute;
    top: 70%;
    left:4% ; 
}

/* ---------------------------------------------------------- */
/* Right section (thirst) */
#right{
    border: none;
    /* height: 100%; */
    width: 20%;
    display: block;
    
    background-color: white;
}

.account{
    display: flex;
    /* justify-content: space-evenly; */
    margin: 5%;
    padding-bottom: 50px;
}

#name{
    padding-top: 15px;
}
#RightSide{
    display: block;
    margin: 5%;
}
/* Statistics on right side */
.stats{
    display: flex;
    justify-content: space-between;
    
    padding-bottom: 10%;
    margin: 5px;
    
}
.stats2{
    display: flex;
    justify-content: start;
    
    padding-bottom: 10%;
    margin: 5px;
    
}
/* Last part of right Part */
#download{
    color: black;
    border:none;
    margin: auto;
    width: 85%;
    background-color: whitesmoke;
    position: relative;
    border-radius: 10px;
}
#tittleApp{
    position: absolute;
    left: 0;
    top: 0;
}
/* Size Progress and Upcoming Part on the right */
.littleTittle{
    font-size: small;
}

.app{
    
    border: none;
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 100%;
    
}

#burger{
    height:20px ;
    width: 25px;
    background-image: url(./lib/menu.JPG);
    background-size:cover ;
    display: none;
}

/* Sizing / Responsive */
@media screen and (max-width: 1090px){
    .account{
        
        padding-bottom: 10px;
    }

    .littleLessons1{
        width: 40%;
    }
    .littleLessons2{
            width: 40%;        
    }        
}



@media screen and (max-width: 854px){
    .account{
        
        padding-bottom: 10px;
    }
    input{
        width: 40%;
        height: 30px;
        border: none;
        border-radius: 10px;
    }
  

}
@media screen and (max-width: 900px){
    *{
        font-size: small;
        
    }
    #Picturelogo{
        font-size: 22px;
    }
    #right{
        display: none;
    }
    #left{

        width: 50%;
       
        background-color: white;
        text-align: center;
        border: none;
    }
    #burger{
        display: flex;
    }
    #logo{
        padding-top: 10%;
        padding-bottom: 5%;
    }

    .Leftnav{
        padding-top: 10px;
        padding-bottom:1px ;
    } 

}

@media screen and (max-width: 761px){
    #Centernav a{
        
        font-size: 10px;
    }
    .spaceBtw h1{
        font-size: 20px;
    }
}

@media screen and (max-width: 740px){
    .spaceBtw h1{
        font-size: 10px;
    }
    #Centernav a{
        
        font-size: 10px;
    }
    #lesson{
        height:160px;
    }
    #lessons{
        
        display: block;
    }
    .littleLessons1{
        width: 90%;
        height: 160px;        
    } 
    .littleLessons2{
        width: 90%;  
        height: 160px;        
    } 

}

@media screen and (max-width: 390px){
    input{
        width: 60%;
        height: 30px;
        border: none;
        border-radius: 10px;
    }
    
}




